:root {
  --fs--2: clamp(0.7rem, calc(0.95rem + -0.32vw), 0.89rem);
  --fs--1: clamp(0.94rem, calc(1.02rem + -0.11vw), 1rem);
  --fs-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --fs-1: clamp(1.27rem, calc(1.13rem + 0.7vw), 1.67rem);
  --fs-2: clamp(1.42rem, calc(1.15rem + 1.39vw), 2.22rem);
  --fs-3: clamp(1.6rem, calc(1.13rem + 2.36vw), 2.96rem);
  --fs-4: clamp(1.8rem, calc(1.06rem + 3.73vw), 3.95rem);
  --fs-5: clamp(2.03rem, calc(0.9rem + 5.62vw), 5.26rem);

  --primary-color: #242424;
  --secondary-color: #fafafa;

  --radius: 0.4rem;
  --transition: all 0.3s ease-in-out;
  --padding_x: 1.5rem;
}

body {
  background-color: var(--primary-color);
  overflow-x: hidden;
}

.navbar {
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--padding_x);
}

.navbar img {
  width: 8rem;
}

.burger {
  cursor: pointer;
}

.line {
  background-color: var(--secondary-color);
  width: 2rem;
  height: 4px;
  margin-block: 5px;
}

.menu {
  background-color: var(--primary-color);
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100vw;
  height: 100vh;
  justify-content: start;
  display: flex;

  align-items: center;
  flex-direction: column;
  gap: 6rem;
  padding-block: 2rem;

  /* opacity: 0; */
  display: none;

  transition: var(--transition);
}

.menu .img_menu {
  width: 28vmax;
  height: 25vmax;
}

.menu .lista {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
  background-color: var(--secondary-color);
  padding: 2rem;
  border-radius: var(--radius);
}

.menu .lista a {
  color: var(--primary-color);
}

.menu_back_btn {
  color: var(--secondary-color);
  font-size: var(--fs-5);
  cursor: pointer;
}

.openMenu {
  /* opacity: 1; */
  display: flex;
  overflow-y: hidden;
}

.title {
  font-size: var(--fs-4);
  font-weight: 500;
  text-align: center;
  color: var(--secondary-color);
  margin-bottom: 2rem;
}

.toursData {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 3rem;
}

.toursData img {
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: var(--radius);
}

.card {
  width: 100%;
  height: 100%;
  padding: var(--padding_x);
  border-radius: var(--radius);
  background-color: var(--secondary-color);
  color: var(--primary-color);
  position: relative;
}

.card .desc {
  line-height: 1.5;
}

.card img {
  margin-block-end: 0.5rem;
}

.card .price {
  position: absolute;
  top: var(--padding_x);
  left: var(--padding_x);
  background-color: #2424248e;
  color: white;
  padding: 0.2rem;
}

.tours {
  width: 100%;
  padding-inline: var(--padding_x);
}

footer {
  width: 100%;
  height: 5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--secondary-color);
}

footer a {
  color: var(--secondary-color);
}

footer a:hover {
  color: #fa0;
}

footer #icon {
  padding-inline: 0.5rem;
}
